form > p:nth-child(1),
form > p:nth-child(2),
form > p:nth-child(3),
form > p:nth-child(4),
form > p:nth-child(6),
form > p:nth-child(7),
form > p:nth-child(8)
{
    display: flex;
    flex-direction: column;
    width: 200px;
}
form > p:last-child {
    flex-direction: row;
    width: 200px;
}
span,
ul > li{
    font-size: 10pt;
}