* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*base.html*/
.wrapper {
    width: 100%;
    margin: auto;
}
header {
    background-color: #7782ff;
}
header > nav {
    display: flex;
    height: 75px;
    margin: auto;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}
body {
    display: flex;
    flex-direction: column;
    gap:50px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 45px;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
}
.logoutBase {
    background: none;
    border: none;
    padding: 0;
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}
li {
    list-style-type: none;
}
a,
.logoutBase{
    text-decoration: none;
    color: #ffffff;
}
a:hover,
.logoutBase:hover{
    text-decoration: underline;
}
/*home.html*/
.about {
    width: 1000px;
}
.service > ul {
    display: flex;
    gap: 20px;
}

.completed-requests {
    display: flex;
    flex-wrap: wrap;

}
.request-item {
    display: flex;
    gap: 20px;
}
.link {
    display: flex;
    gap:50px;
}
.request-item-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
footer {
    background-color: #7782ff;
    color: white;
}
.footer-container {
    display: flex;
    justify-content: space-evenly;
}
.footer-container > div {
    display: flex;
    flex-direction:column;
    gap: 10px;
}
